@use "sass:map";
@use "@assets/scss/vars.scss";

.grid {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 100vh;

  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
    background-color: map.get(vars.$theme, "contentBgColor");
  }

  .login-image {
  }
}
