@font-face {
  font-family: "Montserrat-Black";
  src: url("./montserrat/Montserrat-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-BlackItalic";
  src: url("./montserrat/Montserrat-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("./montserrat/Montserrat-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-BoldItalic";
  src: url("./montserrat/Montserrat-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraBold";
  src: url("./montserrat/Montserrat-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ThinItalic";
  src: url("./montserrat/Montserrat-ThinItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraBoldItalic";
  src: url("./montserrat/Montserrat-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraLight";
  src: url("./montserrat/Montserrat-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-ExtraLightItalic";
  src: url("./montserrat/Montserrat-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Italic";
  src: url("./montserrat/Montserrat-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Light";
  src: url("./montserrat/Montserrat-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-LightItalic";
  src: url("./montserrat/Montserrat-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Medium";
  src: url("./montserrat/Montserrat-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-MediumItalic";
  src: url("./montserrat/Montserrat-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("./montserrat/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("./montserrat/Montserrat-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-SemiBoldItalic";
  src: url("./montserrat/Montserrat-SemiBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-Thin";
  src: url("./montserrat/Montserrat-Thin.ttf") format("truetype");
}
