@font-face {
  font-family: "Nunito-Black";
  src: url("./nunito/Nunito-Black.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-BlackItalic";
  src: url("./nunito/Nunito-BlackItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Bold";
  src: url("./nunito/Nunito-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-BoldItalic";
  src: url("./nunito/Nunito-BoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraBold";
  src: url("./nunito/Nunito-ExtraBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraBoldItalic";
  src: url("./nunito/Nunito-ExtraBoldItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraLight";
  src: url("./nunito/Nunito-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-ExtraLightItalic";
  src: url("./nunito/Nunito-ExtraLightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Italic";
  src: url("./nunito/Nunito-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Light";
  src: url("./nunito/Nunito-Light.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-LightItalic";
  src: url("./nunito/Nunito-LightItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Medium";
  src: url("./nunito/Nunito-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-MediumItalic";
  src: url("./nunito/Nunito-MediumItalic.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-Regular";
  src: url("./nunito/Nunito-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-SemiBold";
  src: url("./nunito/Nunito-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: "Nunito-SemiBoldItalic";
  src: url("./nunito/Nunito-SemiBoldItalic.ttf") format("truetype");
}
