@use "sass:map";
@use "@assets/scss/vars.scss";

.content {
  background-color: map.get(vars.$theme, "contentBgColor");
  color: #000;
  padding: 0 20px;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;

    &-title {
      font-family: "Montserrat-SemiBold", serif;

      i {
        margin-right: 8px;
      }
    }

    &-filters {
    }
  }

  &-body {
    padding-bottom: 20px;
    height: 100%;
  }
}
