.navbar {
    display: grid;
    background-color: #fff;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    

    .menu {
        display: flex;
        width: 85vw;
        margin: 0 auto;

        a {
            padding: 2rem 1rem;

            &:hover {
                background-color: #ccc;
            }
        }
    }
}