@use "sass:map";
@use "@assets/scss/vars.scss";

@media (width <= map.get(vars.$breakpoints, "md")) {
  .navbar {
    background-color: map.get(vars.$theme, "navbarBgColor");

    &-menu {
      display: flex;
      flex-direction: column;

      .navbar-divider {
        margin: 3rem auto;
        height: 0.1rem;
        width: 80%;
        background-color: map.get(vars.$theme, "navbarDividerColor");
      }

      .menu-item-active {
        color: map.get(vars.$theme, "navbarTextColorHover");
        background-color: map.get(vars.$theme, "navbarBgColorHover");
        border-left: 0.3rem solid map.get(vars.$theme, "colorPrimary");
      }

      a {
        display: flex;
        align-items: center;
        height: 50px;
        color: map.get(vars.$theme, "navbarTextColor");
        transition: 200ms;
        border-left: 2px solid transparent;

        &:hover {
          color: map.get(vars.$theme, "navbarTextColorHover");
          background-color: map.get(vars.$theme, "navbarBgColorHover");
        }

        i {
          padding: 0 1.8rem;
        }
      }
    }
  }
}

@media (width >= map.get(vars.$breakpoints, "md")) {
  .navbar {
    display: grid;
    grid-area: navbar;
    background-color: map.get(vars.$theme, "navbarBgColor");

    &-menu {
      display: flex;
      flex-direction: column;

      .navbar-divider {
        margin: 3rem auto;
        height: 0.1rem;
        width: 80%;
        background-color: map.get(vars.$theme, "navbarDividerColor");
      }

      .menu-item-active {
        color: map.get(vars.$theme, "navbarTextColorHover");
        background-color: map.get(vars.$theme, "navbarBgColorHover");
        border-left: 0.3rem solid map.get(vars.$theme, "colorPrimary");
      }

      a {
        display: flex;
        align-items: center;
        height: 50px;
        color: map.get(vars.$theme, "navbarTextColor");
        border-left: 0.3rem solid transparent;
        cursor: pointer;

        &:hover {
          color: map.get(vars.$theme, "navbarTextColorHover");
          background-color: map.get(vars.$theme, "navbarBgColorHover");
          transition: 300ms;
        }

        i {
          padding: 0 1.8rem;
        }
      }
    }
  }
}
