@use "sass:map";
@use "@assets/scss/vars.scss";

.header {
  display: flex;
  align-items: center;
  background-color: map.get(vars.$header, "background-color");

  &_content {
    display: flex;
    margin: 0 auto;
    width: 85vw;
    justify-content: space-between;
  }

  i {
    cursor: pointer;
    font-size: 2rem;

    &:hover {
      color: vars.$color-blue;
    }
  }

  .logo {
    text-transform: uppercase;
    font-family: "Montserrat-SemiBold", serif;
    font-size: 2rem;
  }
}
