@use "sass:map";
@use "@assets/scss/vars.scss";

.logo {
  grid-area: headerLogo;
  display: grid;
  place-items: center;
}

.content {
  grid-area: headerContent;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo,
.content {
  background-color: map.get(vars.$theme, "headerBgColor");
  color: map.get(vars.$theme, "headerTextColor");
}
