@use "sass:map";
@use "@assets/scss/vars.scss";

@media (width < map.get(vars.$breakpoints, "md")) {
  .header-content {
    display: none;
  }

  .header-logo,
  .header-content {
    background-color: map.get(vars.$theme, "headerBgColor");
    color: map.get(vars.$theme, "headerTextColor");
  }
}

@media (width >= map.get(vars.$breakpoints, "md")) {
  .header-logo {
    display: grid;
    place-items: center;
  }

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-logo,
  .header-content {
    background-color: map.get(vars.$theme, "headerBgColor");
    color: map.get(vars.$theme, "headerTextColor");
  }
}
