@use "sass:map";
@use "@assets/scss/vars.scss";

*,
*:after,
*:before {
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  scrollbar-color: map.get(vars.$theme, "accountScrollColor")
    map.get(vars.$theme, "accountScrollBgColor");
  scrollbar-arrow-color: transparent;
  scrollbar-base-color: transparent;
}

html {
  font-size: 62.5%;
  overflow: hidden;
}

body {
  font-size: 1.5rem;
  font-family: "Montserrat-Regular", serif;
}
