$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$color-blue: #3688fc;
$color-indigo: #727cf5;
$color-purple: #6b5eae;
$color-pink: #ff679b;
$color-red: #fa6767;
$color-orange: #ff9041;
$color-yellow: #f9bc0d;
$color-green: #42d29d;
$color-teal: #02a8b5;
$color-cyan: #44badc;
$color-white: #fff;
$color-gray: #98a6ad;
$color-gray-dark: #343a40;
$color-gray-100: #f1f3fa;
$color-gray-200: #eef2f7;
$color-gray-300: #dee2e6;
$color-gray-400: #ced4da;
$color-gray-500: #adb5bd;
$color-gray-600: #98a6ad;
$color-gray-700: #919ca7;
$color-gray-800: #343a40;
$color-gray-900: #474d56;
$color-primary: #3688fc;
$color-secondary: #919ca7;
$color-success: #42d29d;
$color-info: #44badc;
$color-warning: #f9bc0d;
$color-danger: #fa6767;
$color-light: #eef2f7;
$color-dark: #474d56;
$color-body-color: #838c96;
$color-body-bg: #fafbfe;

$buttons: (
  text-color-primary: #fff,
  text-color-primary-hover: #fff,
  background-color-primary: $color-blue,
  background-color-primary-hover: #2e74d6,

  text-color-secondary: #fff,
  text-color-secondary-hover: #fff,
  background-color-secondary: $color-secondary,
  background-color-secondary-hover: #7b858e,

  text-color-success: #fff,
  text-color-success-hover: #fff,
  background-color-success: $color-green,
  background-color-success-hover: #38b385,

  text-color-info: #fff,
  text-color-info-hover: #fff,
  background-color-info: $color-cyan,
  background-color-info-hover: #3a9ebb,

  text-color-warning: $color-dark,
  text-color-warning-hover: $color-dark,
  background-color-warning: $color-yellow,
  background-color-warning-hover: #fac631,

  text-color-danger: #fff,
  text-color-danger-hover: #fff,
  background-color-danger: $color-red,
  background-color-danger-hover: #d55858,

  text-color-light: $color-dark,
  text-color-light-hover: $color-dark,
  background-color-light: $color-light,
  background-color-light-hover: #f1f4f8,

  text-color-dark: #fff,
  text-color-dark-hover: #fff,
  background-color-dark: $color-dark,
  background-color-dark-hover: #3c4149,
);

$header: (
  background-color: #313a46,
  height: 70px,
);

$navbar: (
  color-background: #fff,
);
